nav {
    padding: 1rem 1rem;
    text-align: center;
    background-color: #2b4252;
}
a {
    color: #31c1cc;
    text-decoration-color: #31c1cc;
}
h {
    color: #2a3141;
}
body {
    color: #2a3141;
    text-align: center;
}

